.post {
  margin-top: 2rem;
  /* padding-top: 5rem; */
  background: var(--color-white);
  border-radius: 1rem;
  padding: 1rem;
}

.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.post__header-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.post__header-profile img {
  height: 3rem;
  aspect-ratio: 1/1;
  /* width: 3.5rem; */
  border-radius: 50%;
  object-fit: cover;
}

.post__header-profile--info h1 {
  font-size: 1.6rem;
}

.post__header-profile--info p {
  font-size: 1.2rem;
  color: var(--color-light);
}

.post__header-follow h1 {
  font-size: 1.6rem;
  color: #0c0c51;
}

.post__message {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 2rem;
}

.post__message p {
  font-size: 1.5rem;
}


